# Example job-cost-meter configuration
currency Euro	#We are in Europe.

    # empty lines are ignored.

nodes Base machine[0-9]
    rate Procurement 1 k/a
    rate Cooling 4 c/h
    rate Energy 500 1/a

nodes GPU machine[5-7]	#our GPU nodes, these are added to the generic costs above
    rate Procurement 200 1/a
    rate Cooling 3 c/h
    rate Energy 375 1/a

nodes Extra-Memory machine[6,8-9]	#our fat memory nodes, note that some of these are also GPU nodes
    rate Procurement 10 1/a
